<div class="container">

<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Time</th>
      <th>Status</th>
      <th>Total</th>
      <th>Price</th>
      <th>Show</th>
    </tr>
  </thead>
  <tbody>
    <% @bills.each do |bill| %>
      <tr>
        <td><%= bill.time %></td>
        <td><%= bill.status == 1 ? 'Đang giao' : 'Hoàn thành'%></td>
        <td><%= link_to "Show",bill_item_path(bill)%></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>