/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .gradient-custom {
    /* fallback for old browsers */
    background: #f093fb;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1))
  }
  
  .card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
  }
  .card-registration .select-arrow {
    top: 13px;
  }

  a:hover{
      background-color: none;
      text-decoration: none;
  }
  a{
    color: gray;
}
/* body {
  background: rgb(99, 39, 120)
} */

.form-control:focus {
  box-shadow: none;
  border-color: #BA68C8
}

.profile-button {
  background: rgb(99, 39, 120);
  box-shadow: none;
  border: none
}

.profile-button:hover {
  background: #682773
}

.profile-button:focus {
  background: #682773;
  box-shadow: none
}

.profile-button:active {
  background: #682773;
  box-shadow: none
}

.back:hover {
  color: #682773;
  cursor: pointer
}

.labels {
  font-size: 11px
}

.add-experience:hover {
  background: #BA68C8;
  color: #fff;
  cursor: pointer;
  border: solid 1px #BA68C8
}

header {
  position: fixed;
  top: 0;
  background-color: #fff;
  z-index: 100;
  width: 100%;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.header-wrapper {
  padding: 2px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-wrapper .logo-brand img {
  width: auto;
  height: 50px;
}

.header-wrapper .search-form .search {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-wrapper .search-form .searchTerm {
  border: 1px solid #eee;
  width: 400px;
  border-radius: 25px !important;
  padding: 8px 15px;
  border-radius: 5px 0 0 5px;
  outline: none;
  font-size: 14px;
}

.header-wrapper .search-form .searchTerm:focus {
  border: 1px solid #f26c4f;
}

.header-wrapper .search-form .searchButton {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: transparent;
  text-align: center;
  color: #aaa;
  cursor: pointer;
  font-size: 20px;
  border: none;
  padding-right: 15px;
}

.header-wrapper .search-form .searchButton:hover {
  color: #f26c4f;
}

.header-wrapper .nav-actions-btn .btn-active-course {
  padding: 8px;
  border-radius: 3px;
  display: inline-block;
  color: #333;
  background-color: #eee;
}

.header-wrapper .nav-actions-btn .btn-active-course:hover {
  background-color: #b9b8b8;
}

.header-wrapper .nav-actions-btn .btn-active-course span,
.header-wrapper .nav-actions-btn .btn-active-course i {
  font-size: 14px;
}

.header-wrapper .nav-actions-btn .btn-active-course i {
  margin-left: 5px;
}

.header-wrapper .nav-actions-btn .btn-cart {
  font-size: 24px;
  color: #ec5252;
}

.header-wrapper .nav-user-action .btn-login,
.header-wrapper .nav-user-action .btn-register {
  text-transform: uppercase;
}

.header-wrapper .nav-user-action .btn-register {
  border: 1 px solid #f26c4f;
  padding: 9px 10px;
  border-radius: 3px;
  display: inline-block;
  color: #ffffff;
  background: #f26c50;
}
.header-wrapper .nav-user-action .btn-register:hover,
.header-wrapper .nav-user-action .btn-login:hover{
  background-color: transparent;
  color:black;
}
/*# sourceMappingURL=header.css.map */

#banner{
  margin-top:55px;
  height:446px;
  font-family: 'Meow Script', cursive;
  background-image:url(https://foodweb.in/assets/img/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}